@model QFun.Models.AboutMeVm
@{
    ViewData["Title"] = "_AboutMe";
}
<h1>Om mig</h1>

<form asp-action="_AboutMe" class="">
    <div class="form-group">
        <textarea asp-for="AboutMe" class="form-control"></textarea>
        <span asp-validation-for="AboutMe"></span>

    </div>
    <button type="submit" value="Save" class="btn btn-primary">Spara</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

