@using Microsoft.AspNetCore.Identity
@inject SignInManager<QFun.Data.DbTables.ApplicationUser> SignInManager
@inject UserManager<QFun.Data.DbTables.ApplicationUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@model IEnumerable<QFun.Models.UserData>
@{
    ViewData["Title"] = "Chart";
}

<h1>Chart</h1>
<div style="width: 50%">
    <canvas id="myChart" width="400" height="200"></canvas>
</div>
<script>
    var dbData = @Html.Raw(Json.Serialize(Model));
    var voteData = [];
    var chData = [];
    var coData = [];
    var chId = [];
    var i = 0;

    Object.keys(dbData).forEach(function (item) {
        //console.log(dbData[i].votes);
        voteData[i] = dbData[i].votes;
        chData[i] = dbData[i].contributionDate;
        coData[i] = dbData[i].challengeName;
        chId[i] = dbData[i].challengeId;
        i++;
    });
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: coData,
            datasets: [{
                label: 'Antal röster',
                data: voteData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                labels: chData,
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    stacked: true,
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Utmaningens namn'
                    }
                }],
                yAxes: [{
                    stacked: true,
                    display: true,
                    ticks: {
                        min: 0,
                        stepSize: 1
                    },
                    scaleLabel: {
                        display: true,
                        labelString: 'Röster'
                    }
                }]
            },
 //
            ///
            tooltips: {
                callbacks: {

                    label: function (tooltipItem, data) {

                        var dataset = data.datasets[tooltipItem.datasetIndex];
                        var index = tooltipItem.index;
                        return dataset.labels[index] + ': ' + dataset.data[index];

                    }
                }
            }
///
            //
        }
    });
    ///
    var test = document.getElementById('myChart');
    test.onclick = function (e) {
        var bar = myChart.getElementAtEvent(e);
        //var contribution = chId[0];
        var j = 0;
        if (!bar.length) return; // return if not clicked on bar
        var label = bar[0]._model.label;
        console.log(label);
        Object.keys(dbData).forEach(function (item) {
            //console.log("Hello");
        switch (label)
        {
                case coData[j]:
                //alert('Klickade på Bidrag1');
                window.open('https://localhost:44384/Challenges/Contributions/' + chId[j]);
                break;
        }
            j++;
        });
        
    }
</script>
