@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject RoleManager<IdentityRole> RoleManager
@{
    ViewData["Title"] = "MyPage";
}


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin") == true)
    {
        <partial name="_Admin.cshtml" />
    }
    else
    {
        <partial name="_User.cshtml" />

    }
}
else
{
    <p>
        Please login to view MyPage
    </p>


}
