@model QFun.Models.LeaderboardVm.BoardVm


@{
    ViewData["Title"] = "Leaderboard";
}

    <div class="text-center">
        <h1 class="display-4">Leaderboard</h1>
        @foreach (var user in Model.UserVoteData)
        {
            <div>
                <p>Användarnamn: @user.UserName Röster: @user.Votes</p>
            </div>
        }
    </div>
